@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #02a793;
  --ternary-color: #f36e21;
  --red-color: #e21818;
  --padding-zero: 1rem;
  --padding-one: 2rem;
  --padding-two: 4rem;
  --padding-three: 6rem;
  --box-shadow-light: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
  --font-primary: "Poppins", sans-serif;
  --button-color: #f9f5eb;
}

body {
  background: var(--primary-color);
  font-family: var(--font-primary);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "a b";
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebarMenuContainer {
  display: none;
}

/* ================================== */
/* Dashboard Container */
/* ================================== */
.dashboardContainer {
  grid-area: b;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ================================== */
/* Dashboard Button Container */
/* ================================== */
.dashboardContainer_gridButtons {
  padding: var(--padding-one);
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.button {
  padding: 1rem;
  border: none;
  background: transparent;
  /* border: 2px solid var(--ternary-color); */
  /* background: var(--button-color); */
  /* border-radius: var(--border-radius); */
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  box-shadow: none;
  /* background: var(--ternary-color); */
  background: var(--button-color);
  /* color: #fff; */
  text-decoration: none;
}

.buttonOne {
  grid-area: a;
}

.buttonTwo {
  grid-area: b;
}

.buttonThree {
  grid-area: c;
}
.buttonFour {
  grid-area: d;
}
.buttonFive {
  grid-area: e;
}
.buttonSix {
  grid-area: f;
}

/* ================================== */
/* FilesystemExplorer Container */
/* ================================== */
.dashboardContainer_fileSystemExplorer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a" "b" "c";
  border-radius: var(--border-radius);
  overflow: hidden;
}

.col {
  display: grid;
  grid-template-rows: auto 1fr;
}

.colOne {
  border-top-left-radius: var(--border-radius);
  grid-area: a;
  box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.colTwo {
  grid-area: b;
  box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.5);
}
.colThree {
  grid-area: c;
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}

.col > h2 {
  background: var(--button-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  align-self: flex-start;
}

.colContainer {
  padding: var(--padding-one);
}

.colContainerTwo > ul {
  display: grid;
  row-gap: 0.25rem;
}

.colContainerTwo > ul > li {
  border-radius: var(--border-radius);
  font-size: 0.75rem;
}

.colContainerTwo > ul > li:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  border-radius: 0px;
  box-shadow: var(--box-shadow-light);
}

.colContainerThree > ul > li > span {
  text-decoration: underline;
}

.colContainerTwo > ul > li > i {
  color: red;
  padding: 0.25rem;
  border: 2px solid red;
  border-radius: 50%;
}

.colContainerThree {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  overflow-y: scroll;
}

#preview {
  width: 100% !important;
  height: 600px;
}

li {
  text-decoration: none;
  list-style: none;
}

.margin-left {
  margin-left: 1rem;
}

.tree summary {
  cursor: pointer;
}

.tree summary i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree summary::marker {
  display: none;
}

.tree summary::marker {
  display: none;
}

.tree ul {
  line-height: 2rem;
}

.tree ul li {
  position: relative;
  cursor: pointer;
  /* outline: 1px solid green; */
}

.tree ul li i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree ul li::before {
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  content: "";
  width: 8px;
  height: 1rem;
}

.tree ul li::after {
  position: absolute;
  left: -10px;
  bottom: 0;
  border-left: 2px solid gray;
  content: "";
  width: 8px;
  height: 100%;
}

.tree ul li:last-child::after {
  display: none;
}

ul.tree > li:after {
  display: none;
}

#activeDirectory {
  background: #e4dccf !important;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  transform: scale(1.01);
}

.searchDocumentContainer {
  grid-area: f;
  position: relative;
  display: grid;
  align-items: center;
}

#searchButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

#searchButton i {
  font-size: 1.25rem;
}

#searchButton i:hover {
  color: var(--secondary-color);
}

#searchDocument {
  margin: 0;
  height: inherit;
  width: 100%;
  background: none;
  border: none;
  padding: 1rem;
  background: var(--button-color);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
}

#searchDocument:focus {
  border: none;
  outline: none;
  background-color: var(--button-color);
}

.ibdmsContainer {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.ibdms {
}

@media screen and (min-width: 768px) {
  /* ================================== */
  /* Dashboard Button Container */
  /* ================================== */
  .dashboardContainer_gridButtons {
    justify-self: center;
    align-self: center;
    padding: var(--padding-one);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas:
      "f b e"
      "a c d";
  }

  .dashboardContainer {
    padding: 0 0.5rem 0.5rem 1rem;
  }

  .dashboardContainer_fileSystemExplorer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "a b c";
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5);
  }
  .colContainerThree {
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
  }

  .col > h2 {
    text-align: left;
    
    padding-left: var(--padding-one);
  }

  .colTwo > h2 {
    border-left: 2px solid rgba(0, 0, 0, 0.5); 
  }

   .colThree > h2 {
    
    border-left: 2px solid rgba(0, 0, 0, 0.5); 
  }

  #preview {
    height: 100%;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
  /* ================================== */
  /* sidebar Container */
  /* ================================== */

  .sidebarMenuContainer {
    padding-left: var(--padding-zero);
    padding-right: var(--padding-zero);
    background: var(--button-color);
    grid-area: a;
    z-index: 10;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
  }

  .companyLogo {
    padding: var(--padding-zero);
    display: grid;
    justify-items: center;
  }

  .companyLogo figure {
    height: 2.5rem;
    align-self: center;
  }

  .profileSummary {
    padding: var(--padding-one);
    display: grid;
    row-gap: 0.75rem;
  }

  .profileSummary figure {
    border: 4px solid #F9DBBB;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 1px 1px var(--secondary-color);
  }

  .profileSummary_headings {
    text-align: center;
  }

  .sidemenuContainer {
    display: grid;
  }

  .sidemenuContainer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .sidemenuContainer ul li {
    margin-bottom: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }

  .sidemenuContainer ul li:hover {
    color: white;
    transition: all 0.2s linear;
    background: rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius);
  }

  .activeSidemenu {
    color: white;
    transition: all 0.2s linear;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
  }

  .buttonContainer {
    padding: var(--padding-one);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }

  .buttonContainer button {
    background: var(--red-color) !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
  }

  .buttonContainer button i {
    color: var(--primary-color);
    align-self: center;
    font-size: 1.5rem;
  }

  .buttonContainer button span {
    color: var(--primary-color);
    padding: 0.5rem;
    font-weight: bold;
  }
}
