@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #02a793;
  --ternary-color: #f36e21;
  --red-color: #e21818;
  --padding-zero: 1rem;
  --padding-one: 2rem;
  --padding-two: 4rem;
  --padding-three: 6rem;
  --box-shadow-light: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
  --font-primary: "Poppins", sans-serif;
  --button-color: #f9f5eb;
}

body {
  background: var(--primary-color);
  font-family: var(--font-primary);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "a b";
}

label {
  font-size: 14px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebarMenuContainer {
  display: none;
}

/* ================================== */
/* Dashboard Container */
/* ================================== */
.dashboardContainer {
  grid-area: b;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ================================== */
/* Dashboard Button Container */
/* ================================== */
.dashboardContainer_gridButtons {
  padding: var(--padding-one);
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.button {
  padding: 1rem;
  border: none;
  background: transparent;
  border: 0.5px solid var(--secondary-color);
  background: var(--button-color);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  box-shadow: var(--box-shadow-light);
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: all 0.2s linear;
}

.button:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  box-shadow: none;
  border-radius: 0;
  /* background: var(--ternary-color); */
  background: var(--button-color);
  /* color: #fff; */
  text-decoration: none;
}

.buttonOne {
  grid-area: a;
}

.buttonTwo {
  grid-area: b;
}

.buttonThree {
  grid-area: c;
}
.buttonFour {
  grid-area: d;
}
.buttonFive {
  grid-area: e;
}
.buttonSix {
  grid-area: f;
}

/* ================================== */
/* FilesystemExplorer Container */
/* ================================== */
.dashboardContainer_fileSystemExplorer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a" "b" "c" "d";
  border-radius: var(--border-radius);
  overflow: hidden;
}

.col {
  display: grid;
  grid-template-rows: auto 1fr;
}

.colOne {
  border-top-left-radius: var(--border-radius);
  grid-area: a;
  box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.colTwo {
  grid-area: b;
  border-top-left-radius: var(--border-radius);
  box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.colThree {
  grid-area: c;
  box-shadow: 2px 0px 1px -1px rgba(0, 0, 0, 0.5);
}

.colFour {
  grid-area: d;
  border-top-right-radius: var(--border-radius);
  overflow: hidden;
}

.col > h2 {
  background: var(--button-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: black;
  letter-spacing: 1px;
  align-self: flex-start;
}

.colContainer {
  padding: var(--padding-one);
  overflow-y: auto;
}

.colContainerTwo > ul {
  display: grid;
  row-gap: 0.25rem;
}

.colContainerTwo > ul > li {
  border-radius: var(--border-radius);
  font-size: 0.75rem;
}

.colContainerTwo > ul > li:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  border-radius: 0px;
  box-shadow: var(--box-shadow-light);
}

.colContainerThree > ul > li > span {
  text-decoration: underline;
}

.colContainerTwo > ul > li > i {
  color: red;
  padding: 0.25rem;
  border: 2px solid red;
  border-radius: 50%;
}

.colContainerThree {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  overflow-y: scroll;
}

#preview {
  width: 100% !important;
  height: 600px;
}

li {
  text-decoration: none;
  list-style: none;
}

.margin-left {
  margin-left: 1rem;
}

.tree summary {
  cursor: pointer;
}

.tree summary i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree summary::marker {
  display: none;
}

.tree summary::marker {
  display: none;
}

.tree ul {
  line-height: 2rem;
}

.tree ul li {
  position: relative;
  cursor: pointer;
  /* outline: 1px solid green; */
}

.tree ul li i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree ul li::before {
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  content: "";
  width: 8px;
  height: 1rem;
}

.tree ul li::after {
  position: absolute;
  left: -10px;
  bottom: 0;
  border-left: 2px solid gray;
  content: "";
  width: 8px;
  height: 100%;
}

.tree ul li:last-child::after {
  display: none;
}

ul.tree > li:after {
  display: none;
}

#activeDirectory {
  background: #e4dccf !important;
  border-radius: var(--border-radius);
  padding: 0.25rem;
  transform: scale(1.01);
}

.searchDocumentContainer {
  grid-area: f;
  position: relative;
  display: grid;
  align-items: center;
}

#searchButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

#searchButton i {
  font-size: 1.25rem;
}

#searchButton i:hover {
  color: var(--secondary-color);
}

#searchDocument {
  margin: 0;
  height: inherit;
  width: 100%;
  background: none;
  border: none;
  padding: 1rem;
  background: var(--button-color);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
}

#searchDocument:focus {
  border: none;
  outline: none;
  background-color: var(--button-color);
}

.ibdmsContainer {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  justify-content: space-between;
  align-items: center;
}

/* modal create work id */
.createWorkId {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  /* backdrop-filter: blur(1px); */
  background: rgba(0, 0, 0, 0.75);
}

.createWorkIdSection {
  position: relative;
  width: 90vw;
  height: 90vh;
  background-color: var(--button-color);
  transform: translate(6%, 6%);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  column-gap: 0.5rem;
}

.closeWorkIdSectionButton {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-75%, 25%);
  font-size: 2rem;
  border: none;
  background: transparent;
  color: var(--secondary-color);
  cursor: pointer;
}

.createWorkIdLeft {
  border-radius: var(--border-radius);
  overflow-y: scroll;
}

.createWorkIdRight {
  background: white;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-light);
}

#documentShow {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid #02a793;
}

.submitButtonContainer {
  display: grid;
  justify-content: flex-end;
  grid-template-columns: auto auto;
  column-gap: 1rem;
}
.linkcontainer {
  display: grid;
  padding-left: 2rem;
  font-size: 12px;
}

.submitButtonContainer button {
  font-family: var(--font-primary);
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #f36e21;
  color: white;
  box-shadow: var(--box-shadow-light);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.submitButtonContainer button:hover {
  transition: all 0.2s linear;
  box-shadow: none;
  border-radius: 0px;
}

.inputContainerOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem;
}

.box {
  display: grid;
  row-gap: 0.25rem;
}

.box label {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.box input {
  background: gainsboro;
  padding: 0.75rem;
  border: 1px solid #332c39;
  outline: none;
  border-radius: var(--border-radius);
}

.inputContainerTwo,
.inputContainerThree {
  display: grid;
  padding: 1rem;
  row-gap: 0.5rem;
}

.inputContainerTwo button,
.inputContainerThree button {
  padding: 0.75rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr auto;
  background: var(--red-color);
  color: var(--primary-color);
  font-weight: bold;
}

.accordion {
  transition: all 0.4s ease-in-out;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.inputContainerTwo button span,
.inputContainerThree button span {
  justify-self: flex-start;
}

.inputContainerTwo button i,
.inputContainerThree button i {
  justify-self: flex-end;
}

.inputContainerTwo .panel,
.inputContainerThree .panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  padding: 1rem;
  background: var(--primary-color);
  border-radius: var(--border-radius);
}

.inputContainerTwo .panel .panelBox,
.inputContainerThree .panel .panelBox {
  display: grid;
  row-gap: 0.25rem;
}

.inputContainerTwo .panel .panelBox label,
.inputContainerThree .panel .panelBox label {
  font-weight: bold;
}

#productCategory {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
}

#category {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
}

.three .panel {
  row-gap: 1rem;
}

.three .panel .panelBox .panelBoxInput {
  display: grid;
}
.panel {
  row-gap: 1rem;
}

.panelBoxInput {
  display: grid;
}

.panelBoxInput input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.three .panel .panelBox .panelBoxInput input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* fail */
.fail-accountNumber {
  display: none;
  color: red;
  font-size: 12px;
  text-align: center;
}
.fail-identifierCode {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-valueDate {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-settledAmount {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-exchangeRate {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-refNumber {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-acctNumber {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-address {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-address1 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-city {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-province {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-postalCode {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-currencyCode {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-fedwireNumber {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-sortCode {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-partyIdentifier {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-address2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-address3 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-city2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-province2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-postalCode2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-partyIdentifier2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-identifierCode2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-waiveCharges {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-Remittance {
  display: none;
  color: red;
  font-size: 12px;
}

.fail-operationCode {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-chequeNumber {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-productCategory2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-currencyCategory {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory2 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory3 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory4 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory5 {
  display: none;
  color: red;
  font-size: 12px;
}
.fail-selectCategory6 {
  display: none;
  color: red;
  font-size: 12px;
}

#productCategory {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#productCategory2 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#currencyCategory {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory2 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory3 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory4 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory5 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}
#selectCategory6 {
  padding: 0.75rem;
  border: 1px solid gray;
  border-radius: var(--border-radius);
  width: 14rem;
}

@media screen and (min-width: 768px) {
  /* ================================== */
  /* Dashboard Button Container */
  /* ================================== */
  .dashboardContainer_gridButtons {
    justify-self: center;
    align-self: center;
    padding: var(--padding-one);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas:
      "f b e"
      "a c d";
  }

  .dashboardContainer {
    padding: 0 0.5rem 0.5rem 1rem;
  }

  .dashboardContainer_fileSystemExplorer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr;
    grid-template-areas: "a b c d";
    box-shadow: 1px 1px 4px -1px rgba(0, 0, 0, 0.5);
  }
  .colContainerThree {
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
  }

  .col > h2 {
    text-align: left;

    padding-left: var(--padding-one);
  }

  .colTwo > h2 {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
  }

  .colThree > h2 {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
  }

  .colFour > h2 {
    border-left: 2px solid rgba(0, 0, 0, 0.5);
  }

  #preview {
    height: 100%;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }
  /* ================================== */
  /* sidebar Container */
  /* ================================== */

  .sidebarMenuContainer {
    /* padding-left: var(--padding-zero);
    padding-right: var(--padding-zero); */
    background: var(--button-color);
    grid-area: a;
    z-index: 10;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
  }

  .companyLogo {
    padding: var(--padding-zero);
    display: grid;
    justify-items: center;
  }

  .companyLogo figure {
    height: 2.5rem;
    align-self: center;
  }

  .profileSummary {
    padding: var(--padding-one);
    display: grid;
    row-gap: 0.75rem;
  }

  .profileSummary figure {
    border: 4px solid #f9dbbb;
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 1px 1px var(--secondary-color);
  }

  .profileSummary_headings {
    text-align: center;
  }

  .sidemenuContainer {
    display: grid;
  }

  .sidemenuContainer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .sidemenuContainer ul li {
    margin-bottom: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
  }

  .sidemenuContainer ul li:hover {
    color: white;
    transition: all 0.2s linear;
    background: rgba(0, 0, 0, 0.15);
    border-radius: var(--border-radius);
  }

  .activeSidemenu {
    color: white;
    transition: all 0.2s linear;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
  }

  .buttonContainer {
    padding: var(--padding-one);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
  }

  .buttonContainer button {
    background: var(--red-color) !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-light);
  }

  .buttonContainer button i {
    color: var(--primary-color);
    align-self: center;
    font-size: 1.5rem;
  }

  .buttonContainer button span {
    color: var(--primary-color);
    padding: 0.5rem;
    font-weight: bold;
  }

  .container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
    border-radius: 5px;
    margin-bottom: 0.5rem;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.15);
  }
  .bars {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .bars p {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0.15rem;
  }

  .skills {
    text-align: right; /* Right-align text */
    font-size: 10px;
    padding: 0.15rem;
    border-radius: 5px;
    color: white; /* White text color */
    font-weight: bold;
  }

  .html {
    width: 90%;
    background-color: red;
    box-shadow: 0px 0px 1px 0px red;
  } /* Green */
  .css {
    width: 80%;
    background-color: #2196f3;
  } /* Blue */
  .js {
    width: 65%;
    background-color: #04aa6d;
    box-shadow: 0px 0px 1px 0px #04aa6d;
  } /* Red */
  .php {
    width: 60%;
    background-color: #808080;
  } /* Dark Grey */
}

.department {
  display: grid;
}

.loaderContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% -50%);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
