@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #c9eeff;
  --secondary-color: red;
  --ternary-color: #ea5455;
  --padding-one: 2rem;
  --padding-two: 4rem;
  --padding-three: 6rem;
  --box-shadow-light: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
  --font-primary: "Poppins", sans-serif;
  --button-color: #f9f5eb;
}

body {
  background: var(--primary-color);
  font-family: var(--font-primary);
}

/* ================================== */
/* Dashboard Container */
/* ================================== */
.dashboardContainer {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ================================== */
/* Dashboard Button Container */
/* ================================== */
.dashboardContainer_gridButtons {
  padding: var(--padding-one);
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.button {
  padding: 1rem;
  border: 2px solid var(--ternary-color);
  background: var(--button-color);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
  box-shadow: var(--box-shadow-light);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  box-shadow: none;
  background: var(--ternary-color);
  color: #fff;
  text-decoration: none;
}

.buttonOne {
  grid-area: a;
}

.buttonTwo {
  grid-area: b;
}

.buttonThree {
  grid-area: c;
}
.buttonFour {
  grid-area: d;
}
.buttonFive {
  grid-area: e;
}
.buttonSix {
  grid-area: f;
}

/* ================================== */
/* FilesystemExplorer Container */
/* ================================== */
.dashboardContainer_fileSystemExplorer {
  padding: var(--padding-one);
  display: grid;
  grid-template-rows: auto 1fr;
}

.col {
  background: var(--button-color); 
}

.col > h2 {
  background: var(--ternary-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

.colContainer{
  padding: var(--padding-one);
  align-self: center;
}


.colContainerThree {
  display: grid;
  row-gap: 1rem;
}


@media screen and (min-width: 768px) {
  /* ================================== */
  /* Dashboard Button Container */
  /* ================================== */
  .dashboardContainer_gridButtons {
    justify-self: center;
    align-self: center;
    padding: var(--padding-one);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas:
      "a b c"
      "d e f";
  }
}
