@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #c9eeff;
  --secondary-color: red;
  --ternary-color: #ea5455;
  --padding-one: 2rem;
  --padding-two: 4rem;
  --padding-three: 6rem;
  --box-shadow-light: 0.5px 0.5px 1px 0.5px rgba(0, 0, 0, 0.5);
  --border-radius: 5px;
  --font-primary: "Poppins", sans-serif;
  --button-color: #f9f5eb;
}

body {
  background: var(--primary-color);
  font-family: var(--font-primary);
}

/* ================================== */
/* Dashboard Container */
/* ================================== */
.dashboardContainer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ================================== */
/* Dashboard Button Container */
/* ================================== */
.dashboardContainer_gridButtons {
  padding: var(--padding-one);
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.button {
  padding: 1rem;
  border: 2px solid var(--ternary-color);
  background: var(--button-color);
  border-radius: var(--border-radius);
  font-family: var(--font-primary);
  cursor: pointer;
  font-weight: bold;
  box-shadow: var(--box-shadow-light);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  box-shadow: none;
  background: var(--ternary-color);
  color: #fff;
  text-decoration: none;
}

.buttonOne {
  grid-area: a;
}

.buttonTwo {
  grid-area: b;
}

.buttonThree {
  grid-area: c;
}
.buttonFour {
  grid-area: d;
}
.buttonFive {
  grid-area: e;
}
.buttonSix {
  grid-area: f;
}

/* ================================== */
/* FilesystemExplorer Container */
/* ================================== */
.dashboardContainer_fileSystemExplorer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "a" "b" "c";
}

.col {
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--button-color);
  border: 1px solid black;
}

.colOne {
  grid-area: a;
}

.colTwo {
  grid-area: b;
}
.colThree {
  grid-area: c;
}

.col > h2 {
  background: var(--ternary-color);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  align-self: flex-start;
  border-bottom: 2px solid black;
}

.colContainer {
  padding: var(--padding-one);
}

.colContainerTwo > ul {
  display: grid;
  row-gap: 1rem;
}

.colContainerTwo > ul > li {
  padding: 1rem;
  background: #e9edc9;
  border-radius: var(--border-radius);
}

.colContainerTwo > ul > li:hover {
  transition: all 0.2s linear;
  transform: scale(1.01);
  border-radius: 0px;
  box-shadow: var(--box-shadow-light);
}

.colContainerThree > ul > li > span {
  text-decoration: underline;
}

.colContainerTwo > ul > li > i {
  color: red;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 50%;
}

.colContainerThree {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  overflow-y: scroll;
}

#preview {
  width: 100% !important;
  height: 600px;
}

li {
  text-decoration: none;
  list-style: none;
}

.margin-left {
  margin-left: 1rem;
}

.tree summary {
  cursor: pointer;
}

.tree summary i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree summary::marker {
  display: none;
}

.tree summary::marker {
  display: none;
}

.tree ul {
  line-height: 2rem;
}

.tree ul li {
  position: relative;
  /* outline: 1px solid green; */
}

.tree ul li i {
  color: orange;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.tree ul li::before {
  position: absolute;
  left: -10px;
  top: 0;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  content: "";
  width: 8px;
  height: 1rem;
}

.tree ul li::after {
  position: absolute;
  left: -10px;
  bottom: 0;
  border-left: 2px solid gray;
  content: "";
  width: 8px;
  height: 100%;
}

.tree ul li:last-child::after {
  display: none;
}

ul.tree > li:after {
  display: none;
}

#activeDirectory {
  background: #e4dccf !important;
  border-radius: var(--border-radius);
}

@media screen and (min-width: 768px) {
  /* ================================== */
  /* Dashboard Button Container */
  /* ================================== */
  .dashboardContainer_gridButtons {
    justify-self: center;
    align-self: center;
    padding: var(--padding-one);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    grid-template-areas:
      "a b c"
      "d e f";
  }

  .dashboardContainer_fileSystemExplorer {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: "a b c";
  }
  .colContainerThree {
    grid-template-rows: auto 1fr;
    overflow-y: hidden;
  }

  .col > h2 {
    text-align: left;
    padding-left: var(--padding-one);
  }

  #preview {
    height: 100%;
  }
}
